<ng-container *ngIf="loggedIn">
  <div class="hp-session-bar">
    <div class="hp-session-bar__fill"
         [style.width.%]="progress"
         [class.hp-session-bar__fill--warn]="progress < 20"></div>
  </div>

  <div class="hp-session-toast" *ngIf="showWarning">
    <div class="hp-session-toast__header">
      <i class="bi bi-clock-history"></i>
      <span>Session expiring</span>
    </div>
    <div class="hp-session-toast__time">{{ pad(min) }}:{{ pad(sec) }}</div>
    <div class="hp-session-toast__sub">Your session will expire soon</div>
  </div>
</ng-container>